<div class="jumbotron " style="background-color: white">   
    
    <form>
        <fieldset>
          <legend>Добявяне на RSS FEED</legend>

          <div class="form-group" (ngSubmit)="save()">
            <label for="exampleInputEmail1">RSS feed URL</label>
            <input type="text" class="form-control" id="exampleInputURL" #link="ngModel" [(ngModel)]="rssFeedSource.link" [ngModelOptions]="{standalone: true}" placeholder="Въведете адрес">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Име на сайта</label>
            <input type="text" class="form-control" id="exampleInputName" #name="ngModel" [(ngModel)]="rssFeedSource.name" [ngModelOptions]="{standalone: true}" placeholder="Въведете име на сайта">
          </div>

          <button type="submit" (click)="save()" class="btn btn-primary">Запази</button>
        </fieldset>
      </form>
<br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Адрес</th>
            <th scope="col">Име</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let source of exsistingRssSources">
            <th scope="row">{{source.id}}</th>
            <td>{{source.link}}</td>
            <td>{{source.name}}</td>
            <td>
                <button type="button" class="btn btn-warning" (click)="edit(source.id)">Редактиране</button>&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" (click)="delete(source.id)"> Изтриване</button>
            </td>
          </tr>
        </tbody>
      </table> 
</div>

