<div id="newsContainer" class="jumbotron " style="background-color: white">

        <div class="list-group" *ngFor="let news of feedNews" style="    background-color: #333; margin-bottom:3px;">
                <a href="{{news.link}}" class="list-group-item list-group-item-action flex-column align-items-start" >
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{news.sourceName}}</h5>
                    <small>{{news.date}}</small>
                  </div>
                  <p class="mb-1">{{news.title}}</p>
                </a>
        </div>
<br>
</div>